<% UserCustomField.sorted.where(:field_format => 'string').each do |custom_field| %>
    <p>
      <label><%= h custom_field.name %></label>
      <%= text_field_tag "settings[mapping][#{custom_field.id}]",
                         settings['mapping'][custom_field.id.to_s],
                         :placeholder => l(:label_ldap_attribute_name),
                         :size => 30 %>
    </p>
<% end %>

<p>
  <label>
    <%= check_box_tag 'settings[inactive]', 1, settings['inactive'] == '1' %>
  </label>
  <label class="block" for="settings_inactive">
    <%= l :label_inactive_if_not_found %>
  </label>
</p>
